<ion-header>
  <ion-navbar   color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tipoTarea">
      <ion-segment-button value="Entrega">
        Entrega
      </ion-segment-button>
      <ion-segment-button value="Entrada">
        Entrada
      </ion-segment-button>
      <ion-segment-button value="Devolucion">
        Devolución
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
   <ion-refresher-content  pullingText="Actualizando Tareas...">
   </ion-refresher-content>
 </ion-refresher>
 <ion-searchbar [(ngModel)]="busqueda"></ion-searchbar>

<!-- Inicio: Opción de Entrega -->
    <div *ngIf="tipoTarea=='Entrega'" >
      <div [hidden]="!loading" text-center padding>
       <ion-spinner></ion-spinner>
      </div>
      <ion-list [hidden]="loading">
        <ion-item-sliding *ngFor="let item of listarEntregas | Tareasearch:busqueda;">
          <button ion-item (click)="confirmDialog(item)">
            <ion-icon name="ios-clipboard-outline" item-left></ion-icon>
            <h4>{{item.tipo}} - <small># {{item.documento.docNum}}</small></h4>
            <small><b>Trans.</b> {{item.transporte.nombre}} - <b>Plac.</b> {{item.transporte.placas}}</small>
            <!--<small>{{item.fechaAsignacion | date:'medium' }}</small>-->
            <p><strong>{{item.documento.cardName}}</strong></p>
            <ion-badge item-right *ngIf="item.prioridad==='Urgente'" color="danger">{{item.prioridad}}</ion-badge>
            <ion-badge item-right *ngIf="item.prioridad==='Alta'" color="secondary">{{item.prioridad}}</ion-badge>
            <ion-badge item-right *ngIf="item.prioridad==='Media'">{{item.prioridad}}</ion-badge>
            <ion-badge item-right *ngIf="item.prioridad==='Baja'" color="dark">{{item.prioridad}}</ion-badge>
          </button>
          <ion-item-options side="right">
            <button ion-button color="secondary">
              <ion-icon name="md-text"></ion-icon>
              Comentar
            </button>
            <button ion-button color="light" (click)="modalDetalleTarea(item);">
              <ion-icon name="ios-list-box-outline"></ion-icon>
              Detalles
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
<!-- Fin: Opción de Entrega -->

<!-- Inicio: Opción de Entrada -->
    <div  *ngIf="tipoTarea=='Entrada'">
        <div [hidden]="!loading" text-center padding>
         <ion-spinner></ion-spinner>
        </div>
        <ion-list [hidden]="loading">
        <ion-item-sliding *ngFor="let item of this.listaEntrada | Tareasearch:busqueda">
          <button ion-item (click)="confirmDialogEntrada(item)">
            <ion-icon name="ios-clipboard-outline" item-left></ion-icon>
            <h4><b>#{{item.detalleTarea[0].docNum}} - <ion-icon name="calendar"></ion-icon> </b>{{item.detalleTarea[0].eTA}}</h4>
            <h6><small>  <ion-icon name="bus"></ion-icon> </small> <strong>{{item.detalleTarea[0].contenedor}}</strong> </h6>
            <hr>
            <p *ngFor="let elemento of item.detalleTarea"><small>{{elemento.articulo}}  <ion-badge color="light">{{elemento.cantidad|number:'.0'}}</ion-badge></small></p>
            <!--<ion-badge item-right color="light" *ngFor="let elemento of item.detalleTarea">Cant. {{elemento.cantidad|number:'.0'}}</ion-badge>-->

            <ion-badge item-right *ngIf="item.prioridad==='Urgente'" color="danger">{{item.prioridad}}</ion-badge>
            <ion-badge item-right *ngIf="item.prioridad==='Alta'" color="secondary">{{item.prioridad}}</ion-badge>
            <ion-badge item-right *ngIf="item.prioridad==='Media'">{{item.prioridad}}</ion-badge>
            <ion-badge item-right *ngIf="item.prioridad==='Baja'" color="dark">{{item.prioridad}}</ion-badge>
          </button>
          <ion-item-options side="right">
            <button ion-button color="secondary">
              <ion-icon name="md-text"></ion-icon>
              Comentar
            </button>
            <button ion-button color="light" (click)="modalDetalleTarea(item)">
              <ion-icon name="ios-list-box-outline"></ion-icon>
              Detalles
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
<!-- Fin: Opción Entrada -->
<!-- Inicio: Opción de Devolución -->
    <div  *ngIf="tipoTarea=='Devolucion'">
      <ion-list *ngFor="let tarea of listadoEntregasAux">
        <ion-item-group>
          <ion-item-divider color="light" >{{tarea.transporte.nombre}}</ion-item-divider>
          <ion-item-sliding *ngFor="let item of listarEntregas | distinct:tarea.transporte.nombre">
            <button ion-item (click)="confirmDialog(item)">
              <ion-icon name="ios-clipboard-outline" item-left></ion-icon>
              <h4>{{item.tipo}} - <small># {{item.documento.docNum}}</small></h4>
              <small><b>Trans.</b> {{item.transporte.nombre}} - <b>Plac.</b> {{item.transporte.placas}}</small>
              <!--<small>{{item.fechaAsignacion | date:'medium' }}</small>-->
              <p><strong>{{item.documento.cardName}}</strong></p>
              <ion-badge item-right *ngIf="item.prioridad==='Urgente'" color="danger">{{item.prioridad}}</ion-badge>
              <ion-badge item-right *ngIf="item.prioridad==='Alta'" color="secondary">{{item.prioridad}}</ion-badge>
              <ion-badge item-right *ngIf="item.prioridad==='Media'">{{item.prioridad}}</ion-badge>
              <ion-badge item-right *ngIf="item.prioridad==='Baja'" color="dark">{{item.prioridad}}</ion-badge>
            </button>
            <ion-item-options side="right">
              <button ion-button color="secondary">
                <ion-icon name="md-text"></ion-icon>
                Comentar
              </button>
              <button ion-button color="light" (click)="modalDetalleTarea(item);">
                <ion-icon name="ios-list-box-outline"></ion-icon>
                Detalles
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item-group>
      </ion-list>
    </div>
<!-- Fin: Opción de Devolución -->
</ion-content>
